*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  height: 6.2rem;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 48.2rem;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3.2rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.header-text-box {
  display: flex;
  gap: 4.8rem;
}
.header-btn-wrap {
  display: flex;
  gap: 3.2rem;
}

.flex {
  display: flex;
}

.gap--vsm {
  gap: 8px;
}
.gap--sm {
  gap: 1.2rem;
}
.gap--md {
  gap: 1.6rem;
}
.gap--lr {
  gap: 2rem;
}
