/* ----------------------------- */
/*--------- HEADER */
/* ----------------------------- */
.header {
  background: linear-gradient(175deg, #f8f9fa, #f1f3f5, #edf2ff);
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 134rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  height: 8.2rem;
}
.header-logo {
  height: 48.2rem;
}
.header-text-box {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.header-btn-wrap {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}
.link.header-logo-wrap {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.header-logo-wrap span {
  color: var(--brand-light);
}
/* ----------------------------- */
/*--------- SECTION HERO */
/* ----------------------------- */
.section-hero {
  padding: 6.2rem 0 9.6rem;
  background: linear-gradient(45deg, #f8f9fa, #f1f3f5, #edf2ff);
}

.hero-wrap {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
}

.hero-text {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.7;
  color: var(--grey);
}

.hero-btn-wrap {
  display: flex;
  gap: 1.4rem;
}

.hero-subheading {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: var(--grey-light);
  font-weight: 500;
  text-transform: uppercase;
}
